.footer__links {
    display: flex;
}

.footer__link-nav {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    margin-right: 18px;
}

.footer__link-nav:hover {
    opacity: 0.7;
}

@media screen and (max-width: 767px) {
    .footer__link-nav {
        margin-bottom: 28px;
        font-size: 24px;
        line-height: 24px;
    }

    .footer__links {
        flex-direction: column;
    }
}