.header__languages {
    display: flex;
    align-items: flex-end;
    padding-bottom: 6px;
}

.header__languages-lang-link {
    color: white;
    width: 29px;
}
.header__languages-lang-link:last-child {
    text-decoration: none; 
}

.header__languages-lang-link:hover {
    opacity: 0.9;
    transition: 0.3s linear;
}

.header__languages-lang-link:active {
      text-decoration-line: underline;  

}

@media screen and (max-width: 767px) {
    .header__languages {
        align-items: center;
        padding-bottom: 0;
    }
}