.cover__background_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1184px;
    /* height: 740px; */
    text-decoration: none;
}
.cover__background:hover{
    opacity: 0.3;
}

.cover__background{
    position: absolute;
    width: 100%;
    max-width: 1184px;
    height: auto;
    opacity: 0.8;
}
@media screen and (max-width: 1024px) {
    .cover__background_container{
         max-width: 1024px; 
       
    }
}
@media screen and (max-width: 768px) {
    .cover__background_container{
        max-width: 768px;
       
    }
}
@media screen and (max-width: 320px) {
    .cover__background_container{
         max-width: 320px; 
       
    }
}